
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.home_img {
    width: 100%;
    overflow: hidden;
}

.home_img img {
    width: 100%;
    height: auto;
    display: block;
}

.title{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 70%;
    margin: 0px auto;
}

.title::before,
.title::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #333;
}

.title:not(:empty)::before {
    margin-right: 30px;
}

.title:not(:empty)::after {
    margin-left: 30px;
}

.title h2{
    font-size: 50px;
}

.category{
    margin: auto;
    display: flex;
    color: white;
    justify-content: center;
    gap: 2%;
    max-width: 65%;
}
.button{
    font-size: 18px;
}
.b1 {
    background-color: #4A9CC5;
    width:130px;
    height: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.b2{
    background-color: #F5975D;
    width:130px;
    height: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    text-align: center;
}
.b3{
    background-color: #B14A9A;
    width:130px;
    height: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.b4{
    background-color: #8F5EC3;
    width:130px;
    height: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.b5{
    background-color: #5AA997;
    width:130px;
    height: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.b6{
    background-color: #F4C648;
    width:130px;
    height: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.b7{
    background-color: #459DAD;
    width:130px;
    height: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.content{
    display: flex;
    margin: 50px auto;
    width: 85%;
    border-radius: 20px;
}

#news-content{
    height: fit-content;
    background-color: #EBF0FA;
    border-color: #4A9CC5;
    border-style: solid;
    border-width: 3px;
}

.content-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 28px;
    color: #2F4E87;
    text-align: center;
}

#news-content-title{
    background-color: #4A9CC5;
    color: white;
    font-size: 40px;
}

.content-title hr{
    width: 55%;
    margin: -10px;
    border: solid 1px;
    border-color: white;
}

.news-headline{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px 30px 0;
}

.headline div{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

#latest{
    color: red;
}

#news-button{
    margin: 15px auto;
    background-color: #3B80A2;
    width:130px;
    height: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    text-align: center;

}

.events {
    margin-top: 80px;
    padding: 3px 0 30px;
    background-color: #ededed;
}

.events-content {
    width: 85%;
    background-color: white;
    margin: -40px auto 30px;
    padding: 35px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 0 20px;
}

.events-item {
    flex: 0 0 280px;
    scroll-snap-align: start;
}


.events-item img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}

#events-head {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.events-item p {
    font-size: 12px;
    margin-top: -10px;
}

.events-content .button {
    margin-top: 20px;
    background-color: #F4C648;
    width:130px;
    height: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    text-align: center;
}

#external-content{
    background-color: #FFEFF2;
}

#external-content-title{
    background-color: #D57D90;
    font-size: 30px;
    color: white;

}

.source {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px 30px;
}

.link {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
}

.link img{
    margin-left: 10px;
    max-width: 3%;
}

.source hr{
    margin: 5px;
    border: solid;
    border-width: 1px;
    width: 100%;
    border-color: #A59E9E;
}

a{
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .title { 
        max-width: 100%;
    }

    .category {
        max-width: 100%;
        margin-top: -5%;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .content, .events-content, .content-title, .news-headline {
        width: 100%;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .events-content {
        padding: 0 10px;
    }

    .content-title {
        flex-direction: row;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
    }

    .content-title hr {
        display: none;
    }

    .news, .events, .external {
        padding: 5%;
        height: fit-content;
    }
    
    .events-container {
        padding: 10px 10px;
        gap: 20px;
    }
}
