.title{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 70%;
    margin: 40px auto;
}

.title::before,
.title::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #333;
}

.title:not(:empty)::before {
    margin-right: 30px;
}

.title:not(:empty)::after {
    margin-left: 30px;
}

.title h2{
    font-size: 30px;
}

.category{
    margin: auto;
    display: flex;
    color: white;
    justify-content: center;
    gap: 3%;
    max-width: 65%;
}

.button{
    background-color: white;
    color: #2F4E87;
    /* margin: 0 20px; */
    width: 130px;
    text-align: center;
    /* padding: 3px 30px; */
    /* width: max-content; */
    border: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: #2F4E87;
    font-weight: 600;
    text-decoration: none;
}

#selected{
    background-color: #2F4E87;
    color: white;
}

.content{
    display: flex;
    margin: 50px auto;
    width: 70%;
    border-radius: 15px;
}

#news-content{
    height: fit-content;
    background-color: #EBF0FA;
}

.content-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 28px;
    color: #2F4E87;
    text-align: center;
}

#news-content-title{
    background-color: #C8DFF1;
}

.content-title hr{
    width: 55%;
    margin: -10px;
    border-width: 3px;
    border: solid;
    border-color: #2F4E87;
}

.news-headline{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px 30px 0;
}

.headline div{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

#latest{
    color: red;
}

#news-button{
    margin: 15px auto;
}

.events{
    margin-top: 80px;
    padding-bottom: 30px;
    width: 100%;
    height: fit-content;
    background-color: #E5EFF4;
    padding-top: 3px;
}

.events-content{
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: -40px auto 30px;
    padding-top: 35px;
    border-radius: 10px;
}

.events-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.events-item{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
}

.events-item img{
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#events-head{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.events-item p{
    font-size: 12px;
    margin-top: -35px;
}

.events-content .button{
    margin: 20px auto 30px;
}

#external-content{
    background-color: #F6F6F6;
}

#external-content-title{
    background-color: #D6EAE7;
}

.source {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px 30px;
}

.link {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
}

.link img{
    margin-left: 10px;
    max-width: 3%;
}

.source hr{
    margin: 5px;
    border: solid;
    border-width: 1px;
    width: 100%;
    border-color: #A59E9E;
}

a{
    text-decoration: none;
    color: inherit;
}

@media (max-width:768px) {

    .title{ 
        max-width: 100%;
    }

    .category {
        max-width: 100%;
        margin-top: -5%;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .content, .events-content, .events-container, 
    .content-title, .news-headline{
        width: 100%;
    }

    .content, .events-content, .events-container{
        flex-direction: column;
        align-items: center;
    }

    .content-title{
        flex-direction: row;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
    }

    .content-title hr{
        display: none;
    }

    .news, .events, .external{
        padding: 5%;
        height: fit-content;
    }

    .events{
        margin-top: 0;
    }

    .events-item {
        width: 87%;
        align-items: center;
        margin: 0 0 7%;
    }

    .events-item img{
        width: 43%;
    }

    .events .title{
        margin: 0 auto 50px
    }

}