.lab {
    margin: 50px auto;
    width: 80%
}

.intro {
    text-align: center;
    margin: 70px 0;
}

.lab-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-content: flex-start; */
    justify-content: center;
    gap: 47px;
}

.lab-item {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    width: 650px;
    height: 800px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 0 50px; 
}

.lab-name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C8DFF1;
    height: 80px;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
}

.lab-name h3 {
    margin: 30px;
}

.lab-desc {
    display: flex;
    flex-direction: column;
    margin: 30px 65px;
    font-size: 16px;
    line-height: 32px;
}

.lab-desc div:not(.lab-img) {
    margin: 0 0 -30px;
}

#lab-img{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.lab-desc div{
    display: flex;
}

.desc-topic {
    font-weight: bold;
    margin-right: 5px;
}

.lab-desc hr{
    border: 1px solid rgba(0,0,0,0.3);
    margin: 25px 0 0;
}

.include {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    line-height: 26px;
    height: 240px;
}

.include li, .include p{
    margin: 0;
}

.include a:not(.button){
    text-decoration: none;
    color: inherit;
}

.button{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #2F4E87;
    width: 140px;
    height: 50px;
    text-align: center;
    border: 1px solid #2F4E87;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
}