.news{
    margin: 60px auto 150px;
    width: 80%;
    height: fit-content;
    /* background-color: #F6F6F6; */
}

.news-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C8DFF1;
    height: fit-content;
    font-size: 24px;
    padding: 0 3%;
}

.news-title p{
    font-size: 18px;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.content p{
    margin: 0;
    line-height: 36px;
}
.content hr{
    border: 1px solid black;
    width: 100%;
    margin: 30px 0;
}

@media (max-width: 768px){
    .news-title{
        font-size: 20px;
    }
    .news-title p{
        font-size: 14px;
    }
}