<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Footer</title>
        <link rel="stylesheet" href="assets/css/template.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
    </head>

    <body>
        <footer>
            <div class="footer">
                <div class="footer-detail">
                    <div class="uni-info">
                        <hr>
                        <h4>Department of Computer Science & <br>
                            Information Engineering, 
                            National Central University
                        </h4>
                        <hr>

                        <div class="uni-text">
                            <p>Address: No. 300, Zhongda Rd, Zhongli District, Taoyuan City, 320</p>
                            <p>Tel: 886-3-422-7151</p>
                            <p>Fax: 886-3-422-2681</p>
                            <p>E-mail: ncu4500@ncu.edu.tw </p>
                        </div>
                    </div>

                    <nav class="footer-nav">
                    <hr>
                    <p>Copyright</p>
                    <hr>
                    <p>Admin Login</p>
                    <hr>
                    <p>Contact Us</p>
                    <hr>
                    <p>Site Map</p>
                    </nav>

                    <div class="footer-external">
                        <hr>
                        <a href="https://www.facebook.com/ncucsiefamily/" target="_blank" rel="noopener noreferrer">
                            <div class="footer-link">
                                <p>NCU Computer Science Facebook Page</p>
                                <img src="assets/image/newtabwhite.png" alt="Open in new tab icon">
                            </div>
                        </a>
                        
                        <hr>
                        <a href="https://www.facebook.com/NCUCSIE">
                            <div class="footer-link">
                                <p>Student Association</p>
                                <img src="assets/image/newtabwhite.png">
                            </div>
                        </a>
                        
                        <hr>
                        <a href="https://classroom.csie.ncu.edu.tw/">
                            <div class="footer-link">
                                <p>Classroom Reservation</p>
                                <img src="assets/image/newtabwhite.png">
                            </div>
                        </a>

                        <hr>
                        <a href="https://www.ceecs.ncu.edu.tw/Academic_Journal.aspx">
                            <div class="footer-link">
                                <p>College of Computer Science and Electrical Engineering Journal</p>
                                <img src="assets/image/newtabwhite.png">
                            </div>
                        </a>
                        
                        <hr>
                        <a href="https://www.facebook.com/ncu.csie.snmg/">
                            <div class="footer-link">
                                <p>SNMG</p>
                                <img src="assets/image/newtabwhite.png">
                            </div>
                        </a>
                    </div>

                </div>

                <div class="footer-bar">
                    <h3>Copyright © 2025 - Department of Computer Science & 
                        Information Engineering, National Central University.
                    </h3>
                </div>
            </div>
        </footer>
    </body>
</html>