<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>Navbar</title>
  <link rel="stylesheet" href="assets/css/navbar.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <a href="home.html"><img src="assets/image/logo.png" alt="Logo" /></a>
      </div>
      <ul class="nav-links">
        <li><a href="home.html">Home</a></li>
      
        <li class="dropdown">
          <a href="about_us.html">About us</a>
          <ul class="dropdown-menu">
            <li><a href="about_us.html">About the Department</a></li>
            <li><a href="#">Faculty & Staff</a></li>
            <li><a href="research.html">Research Areas</a></li>
            <li><a href="lab.html">Laboratories</a></li>
          </ul>
        </li>
      
        <li class="dropdown">
          <a href="#">Admissions</a>
          <ul class="dropdown-menu">
            <li><a href="admission_undergraduate.html">Undergraduate Program</a></li>
            <li><a href="admission_master.html">Master’s Program</a></li>
            <li><a href="admission_phd.html">Ph.D. Program</a></li>
            <li><a href="admission_international.html">International Students</a></li>
            <li><a href="admission_professional.html">Professional Program</a></li>
          </ul>
        </li>
      
        <li class="dropdown">
          <a href="#">Courses</a>
          <ul class="dropdown-menu">
            <li><a href="#">Undergraduate Program</a></li>
            <li><a href="#">Master’s Program</a></li>
            <li><a href="#">Ph.D. Program</a></li>
          </ul>
        </li>
      
        <li class="dropdown">
          <a href="#">Student</a>
          <ul class="dropdown-menu">
            <li><a href="#">Events</a></li>
            <li><a href="newsList.html">News</a></li>
            <li><a href="downloads.html">Downloads</a></li>
            <li><a href="career_p1.html">Graduate Career</a></li>
          </ul>
        </li>
      </ul>
      <div class="nav-extra">
        <i class="fas fa-search"></i>
        <span class="lang-switch">
            <a href="index.html">首頁</a> | 
            <a href="home.html">English</a>
        </span>
      </div>
    </nav>
  </header>
</body>
</html>
